/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
button {
    cursor: pointer;
}

ul {
    list-style-type: none ;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    margin: 0;
    padding: 24px 156px;
}
.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms;
}

.gallery {   
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    
}

.gallery-image:hover { 
transform: scale(1.05);
}